# .gitignore

# IDE and editor settings
.idea/
.vscode/
.venv/

# Testing and linting
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter/IPython
.ipynb_checkpoints/

# OS files
.DS_Store

# Data
data/**/*
!data/**/.gitkeep
!data/*/

# Latex files
*.pdf

# Dependency files
poetry.lock